In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

In [2]:
bike = pd.read_csv('./Data/train.csv', sep=',', index_col=0, parse_dates=True)

In [3]:
bike.drop(columns=['casual', 'atemp', 'registered', 'atemp', 'holiday',	'workingday'], inplace=True)

In [4]:
bike['month'] = bike.index.month
bike['week'] = bike.index.weekday
bike['hour'] = bike.index.hour
bike['year'] = bike.index.year
bike

,season,weather,temp,humidity,windspeed,count,month,week,hour,year
datetime,,,,,,,,,,
2011-01-01 00:00:00,1,1,9.84,81,0.0000,16,1,5,0,2011
2011-01-01 01:00:00,1,1,9.02,80,0.0000,40,1,5,1,2011
2011-01-01 02:00:00,1,1,9.02,80,0.0000,32,1,5,2,2011
2011-01-01 03:00:00,1,1,9.84,75,0.0000,13,1,5,3,2011
2011-01-01 04:00:00,1,1,9.84,75,0.0000,1,1,5,4,2011
...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,4,1,15.58,50,26.0027,336,12,2,19,2012
2012-12-19 20:00:00,4,1,14.76,57,15.0013,241,12,2,20,2012
2012-12-19 21:00:00,4,1,13.94,61,15.0013,168,12,2,21,2012
2012-12-19 22:00:00,4,1,13.94,61,6.0032,129,12,2,22,2012
2012-12-19 23:00:00,4,1,13.12,66,8.9981,88,12,2,23,2012

In [ ]:
bike.loc[(bike['hour']>= 0) & (bike['hour'] < 5), 'hour'] = 0
bike.loc[(bike['hour']>= 5) & (bike['hour'] < 10), 'hour'] = 1
bike.loc[(bike['hour']>= 10) & (bike['hour'] < 15), 'hour'] = 2
bike.loc[(bike['hour']>= 15) & (bike['hour'] < 19), 'hour'] = 3
bike.loc[(bike['hour']>= 19) & (bike['hour'] <= 23), 'hour'] = 4